@use '../../styles/helpers' as *;

.profile {
    display: flex;
    gap: rem(20);

    &__avatar {
        width: rem(250);
        height: rem(250);
        display: flex;
        justify-content: center;
    }

    & > *:last-child {
        margin-right: rem(20);
    }

    &__content {
        width: rem(300);
    }
}