@use '../../../styles/helpers' as *;

.profileStatus {
    &__badge {
        font-size: rem(20) !important;
        width: rem(300);
        text-align: left;
        display: inline-block;

        &:hover {
            background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
        }
    }

    &__input {
        height: rem(34);
    }

    &__input > form > button {
        display: none;
    }
}