@use '../../styles/helpers' as *;

.header {
    grid-area: head;
    position: sticky;
    color: white;
    background-color: gray;
    border-bottom: rem(0.1) solid lightgray;
    width: 100%;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__title {
        font-weight: 600;
    }
}