@use '../../styles/helpers' as *;

.navbar {
    grid-area: navbar;
    position: sticky;
    top: rem(10);
    padding: rem(10);
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    width: fit-content;
    text-align: center;
    justify-self: center;
}