@use '../../styles/helpers' as *;

.navbar {
    grid-area: navbar;
    position: sticky;
    top: rem(75);
    justify-self: end;

    &__container {
        margin-left: rem(20);
        border: 1px solid lightgray;
        border-radius: rem(10);
        padding: rem(10);
        text-align: center;
    }
}