@use '../../../styles/helpers' as *;

.description {
    padding-top: rem(10);

    &__container {
        width: fit-content;
        padding: rem(10);
        border: rem(1) solid lightgray;
        border-radius: rem(10);
    }

    &__container > p {
        margin-bottom: 0;
    }

    &__link {
        text-decoration: none;
    }

    &__title {
        margin-bottom: 0;
    }
}