@use '../../styles/helpers' as *;

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

    &__items {
        padding: rem(10);
        color: white;
    }

    &__messages {
        padding: rem(10);
    }
}